In [ ]:
Introduction of variables

In [16]:
x=5
y=3

x*y

15

In [ ]:
Rules for declaring the variables in python

In [ ]:
1. No NameSpaces while declaring the variables in python

In [1]:
first Name='Ramu'   #space is not allowed it is invalid statement
print(first Name)

SyntaxError: invalid syntax (<ipython-input-1-395170fc0b0d>, line 1)

In [2]:
firstname='Ramu'   # it is valid statement
print(firstname)

Ramu

In [3]:
first_name='Ramu'  # this way of declaration also valid
print(first_name)

Ramu

In [ ]:
2. A variable name should not start with a number

In [4]:
3name='Ramu'       #invalid statement because variable is start with number
print(3name)

SyntaxError: invalid syntax (<ipython-input-4-e4a7e530ae7d>, line 1)

In [10]:
name3='Ramu'    #valid statement number should be there in middle or last of the variable is valid
print(name3)

Ramu

In [ ]:
3. A variable name should not contain any special characters (@,$,#,&,........)

In [11]:
name@='Ramu'   #invalid statement because special characters are not allowed
print(name@)

SyntaxError: invalid syntax (<ipython-input-11-71dc71778484>, line 2)

In [ ]:
Introduction to datatypes
1.string
2.Numbers  ------>integers and floats
3.lists
4.tuples
5.Dictionaries

In [ ]:
classification of data types
In 2 ways
1.Mutable datatypes   :--which we can edit
2.Immutable datatypes :--which we can't edit

In [ ]:
Introduction to string datatypes:--
    A string is nothing but a series of characters which will be enclose in quotes

In [ ]:
Classification:- 
    It is an immutable datatype (we can't edit it)
The String datatype define/declare in 3 ways
1.Single quotes
2.double quotes
3.triple quotes