<a href="https://colab.research.google.com/github/Srinu1331/Python/blob/main/pythowork.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
print("hello")

hello

In [ ]:
print("1532846")

1532846

In [ ]:
import pandas as pd

In [ ]:
df=pd.DataFrame({"city_id":[101,102,103,104]})
df

   city_id
0      101
1      102
2      103
3      104

In [ ]:
df1=pd.DataFrame({"city_id":[101,102,103,104],"city":["Mumbai","Pune","Delhi","Solapur"],"Temperature":[20,22,24,30]})
df1

   city_id     city  Temperature
0      101   Mumbai           20
1      102     Pune           22
2      103    Delhi           24
3      104  Solapur           30

In [ ]:
df2=pd.DataFrame({"city_id":[101,102,103,104],"city":["Mumbai","Pune","Delhi","Solapur"],"Humidity":[60,70,72,68]})
df2

   city_id     city  Humidity
0      101   Mumbai        60
1      102     Pune        70
2      103    Delhi        72
3      104  Solapur        68

Merge the dataframes df1 & df2

In [ ]:
df3=pd.merge(df1,df2,on="city_id")
df3

   city_id   city_x  Temperature   city_y  Humidity
0      101   Mumbai           20   Mumbai        60
1      102     Pune           22     Pune        70
2      103    Delhi           24    Delhi        72
3      104  Solapur           30  Solapur        68

In [1]:
a=[]
len(a)

0

In [2]:
b=[10,20,30,40]
len(b)

4

In [3]:
b[0]

10

In [4]:
b[2]

30

In [5]:
b[-1]

40

In [8]:
b[:2]

[10, 20]

In [9]:
b[1:]

[20, 30, 40]

In [10]:
b[2:]

[30, 40]

In [11]:
b[1:-1]

[20, 30]

In [12]:
c=[1,2,3]

In [13]:
d=b+c
print(d)

[10, 20, 30, 40, 1, 2, 3]

In [15]:
a=10
b=20
c=a+b
print(c)

30

In [16]:
a=10
b=20.5
c=a+b
print(c)

30.5

In [17]:
fname='srin'
lname='vas'
name=fname+lname
print(name)

srinvas

In [18]:
d.append(100)
print(d)

[10, 20, 30, 40, 1, 2, 3, 100]

In [19]:
d=d+[1000,2000,3000]
print(d)

[10, 20, 30, 40, 1, 2, 3, 100, 1000, 2000, 3000]

In [20]:
e=d[:4]+d[-4:]
e

[10, 20, 30, 40, 100, 1000, 2000, 3000]

In [25]:
f=[1,2,3,4,5,6,7,8]
#insert 100,200,300
f=f[:4]+[100,200,300]+f[-4:]
f

[1, 2, 3, 4, 100, 200, 300, 5, 6, 7, 8]

In [29]:
names=["sri","joh","nioy","kiop","dert"]
#filters on list

names

['sri', 'joh', 'nioy', 'kiop', 'dert']

In [33]:
#traditionl way
n=[]
for i in names:
  if len(i)==4: 
    n.append(i)
print(names)
print(n)

['sri', 'joh', 'nioy', 'kiop', 'dert']
['nioy', 'kiop', 'dert']

In [37]:
nn=[i for i in names if len(i)==4]
nn

['nioy', 'kiop', 'dert']

In [38]:
nn=[i.upper()for i in names if len(i)==4]
nn

['NIOY', 'KIOP', 'DERT']

In [39]:
nn=[i.upper() for i in names]
print(nn)

['SRI', 'JOH', 'NIOY', 'KIOP', 'DERT']

In [40]:
a=[10,35]

In [42]:
e=[x+100 for x in d]
e

[110, 120, 130, 140, 101, 102, 103, 200, 1100, 2100, 3100]

In [53]:
names=["  amar  ","  girija","manesh   ","  mOhaN  ","  kiRAN "]
#only first char should be upper, remaining lower
s="amaLa"
fc=s[0].upper()
rc=s[1:].lower()
n=fc+rc
n

'Amala'

In [44]:
N=[x[0].upper()+x[1:].lower()for x in names]
print(N)

['Amar', 'Girija', 'Manesh', 'Mohan', 'Kiran']

In [46]:
v="   amaLa  "
v=v.strip()
v

'amaLa'

In [50]:
def fupper(s):
      s=s.strip()
      fc=s[0].upper()
      rc=s[1:].lower()
      return fc+rc

fupper("   abcdefF   ")

'Abcdeff'

In [54]:
names

['  amar  ', '  girija', 'manesh   ', '  mOhaN  ', '  kiRAN ']

In [56]:
N=[fupper(x)for x in names]
N

['Amar', 'Girija', 'Manesh', 'Mohan', 'Kiran']